body {
    background-color: #ffffff;
}

a {
    -moz-transition: color 0.2s ease, border-bottom 0.2s ease;
    -webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
    -ms-transition: color 0.2s ease, border-bottom 0.2s ease;
    transition: color 0.2s ease, border-bottom 0.2s ease;
    text-decoration: none;
    color: inherit;
}

#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
    background-color: lightblue;
    box-shadow: inset 0 0 0 1px #dddddd;
    color: #636363 !important;
}

#main input[type="submit"]:hover, #main input[type="reset"]:hover, #main input[type="button"]:hover, #main button:hover, #main .button:hover {
    background-color: #2fc500;
}

a:link {
color: #0000ff;
border-bottom: 0px;
text-decoration: none;
}

div#main {
	border-left: 5px;
	border-right: 5px;
}

#header p {
    font-size: 1.25em;
    letter-spacing: -0.025em;
    color: ghostwhite;
}

#header.alt h1 {
    font-size: 3.25em;
    color: ghostwhite;
}

.btn {
	background-color: lightblue;
	color: black;
}

.btn-success {
    border-color: lightblue;
}

.center-block {
    float: none;
}
