{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<!--<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
	<title>WPR CPR</title>
</head>
<body>
	<main class="container" role="main">

		<h2>Email grayson.gordon@usma.edu with the file you wish to share and earn PMI!</h2>

		<h3>(If you are testing this site, use the "test.txt" file on the Desktop)</h3>

		<h2><a href="/">Back</a></h2>

	</main>
</body>
</html>